*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: black;
    background-image: url(/IMG/jer.jpg);
    width: 100%;
    height: 980px;
    background-attachment: fixed;
    color: white;
}

.container
{
    /*background-color: aquamarine;*/
    height: 980px;
}

.title
{
    padding-top: 15px;
}

h1
{
    text-align: center;
}

p{
    text-align: center ;
}

.rest
{
    width: 85px;
    display: flex;;
    text-align: center;
    align-items: center;
    margin: auto;
}

.form-group 
{
    display: flex;
    padding-top: 25px;
}

.form-control
{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.btn 
{
    width: 120px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
}

